<html>
    <head>
       <title>sai'blog</title> 
    </head>
    <body style="background-color: aquamarine;">
        <div>
            <h1 style="font-family: 'Times New Roman', Times, serif;text-align: center;">Kiran's Blog</h1>
        </div>
        <div>
            <p>published: 03.04.2020, 10:00</p>
            <h2><a href="">My first post</a></h2>
            <p>Django Girls is an international non-profit organization started by two Polish women,<br> Ola Sitarska and Ola Sendecka, to inspire women from all backgrounds<br> to get interested in technology and to become programmers,<br> offering a safe and friendly environment.</p>
        </div>
        <div>
            <h2>My second post</h2>
            <p>Django Girls is an international non-profit organization started by two Polish women, Ola Sitarska and Ola Sendecka</p>
        </div>

    </body>
</html>